DATABASE_URL=
DIRECT_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
JWT_SECRET=
GOOGLE_MAPS_API_KEY=
A3S_BYPASS_LOGIN=false
A3S_BYPASS_USERNAME=demo-tech
A3S_BYPASS_USER_ID=tech-demo
A3S_BYPASS_TOKEN=dev-bypass-token

PORT=3000
